body{ color:white ;
    background-image: url(kl.jpg) ;
background-size: cover;
text-align: center;
}
.custom-btn {
    width: 130px;
    height: 40px;
    right: 700px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  .table_dark {
    
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 14px;
      width: 640px;
      text-align: center;
      border-collapse: collapse;
      background: #252F48;
      margin-top: 100px;
      
    }
    .table_dark th {
      color: #EDB749;
      border-bottom: 1px solid #37B5A5;
      padding: 12px 17px;
    }
    .table_dark td {
      color: #CAD4D6;
      border-bottom: 1px solid #37B5A5;
      border-right:1px solid #37B5A5;
      padding: 7px 17px;
    }
    .table_dark tr:last-child td {
      border-bottom: none;
    }
    .table_dark td:last-child {
      border-right: none;
    }
    .table_dark tr:hover td {
      text-decoration: underline;
    }
    .table_darkk {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 14px;
      width: 50%;
      text-align: center;
      border-collapse: collapse;
      background: #252F48;
      margin: auto;
  position: 35px;
      
    }
    .re{
    margin-top: -10px;
    }
    .pl{
        margin-top: -12px;
        color: #EDB749;
    }