body{
    background-color: rgb(0, 0, 0);
    color: white;

}
.custom-btn {
    width: 170px;
    height: 80px;
    right: 500px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0 auto; /* Сайт центр */
    max-width: 800px; /* Максимальная ширина*/
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Три колонки макет */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Разместить текст справа */
  .right {
    text-align: right;
  }
  
  /* Очистить поплавки после столбцов */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Бар контейнер */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Индивидуальные бары */
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Адаптивный макет - заставьте столбцы складываться друг на друга, а не рядом друг с другом */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Скрыть правую колонку на маленьких экранах */
    .right {
      display: none;
    }
  }
 