body{
    background-image: url(or.png) ;
    background-size: cover;
   
}
.custom-btn {
    width: 135px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
  .a{
      margin-left: 45px;
  }
.n{
    text-align: center;
    color: white;
    font-size: xx-large;
}

.grid * {
	box-sizing: border-box;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 30px;
	row-gap: 30px;
	padding: 20px 0;
}
/* Кол-во блоков на разных экранах */
@media only screen and (max-width: 1200px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 900px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
.grid-item {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
	transition: box-shadow .3s;
	width: 100%;
	height: 100%;  
}
.grid-item .image {
	height: 200px;
	overflow: hidden;
}
.grid-item .info {
	position: relative;
	height: calc(100% - 200px);
	padding: 16px 14px 80px 14px;
}
.grid-item:hover {
	box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.grid-item .image img  {
  	transition: transform 280ms ease-in-out;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;	
}
.grid-item:hover .image img  {
	transform: scale(1.1);
}
.info h2 {
	font-family: 'Roboto', Тahoma, sans-serif;
	color: #337AB7;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	text-align: center;
}
.info-text p {
	font-size: 15px;
	line-height: 20px;
	font-family: Verdana, sans-serif; 
	margin-bottom: 10px;
}
.info-text p:last-child {
	margin-bottom: 0;
}
.grid-item .button-wrap {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 14px;
	left: 0;
	text-align: center;
}
/* Кнопка подробнее */
.atuin-btn {
	display: inline-flex;
	text-decoration: none;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	padding: 12px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase; 
	font-family: 'Roboto', Тahoma, sans-serif;
	background: #337AB7;
	cursor: pointer; 
	border: 2px solid #BFE2FF;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
	color: #FFF;
}
.atuin-btn:after,
.atuin-btn:before {
	position: absolute;
	height: 4px;
	left: 50%;
	background: #337AB7;
	bottom: -6px;
	content: "";
	transition: all 280ms ease-in-out;
	width: 0;
}
.atuin-btn:before {
	top: -6px;
}
.atuin-btn:hover:after,
.atuin-btn:hover:before,
.atuin-btn:active:after,
.atuin-btn:active:before,
.atuin-btn:focus:after,
.atuin-btn:focus:before {
	width: 100%;
	left: 0;
}
.info-text{
  color: white;
  text-align: center;
}